# Database configuration
MYSQL_ROOT_PASSWORD=placeholder_root_password
DB_HOST=db
DB_USER=placeholder_user
DB_PASSWORD=placeholder_password
DB_NAME=bank_db

# Docker configuration
DOCKERHUB_USERNAME=your_username_here

# Generate a long random string for production
MY_TOKEN=your_jwt_secret_token_here